<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>MTurk HIT</title>
    <style>
      body {
        font-family: Helvetica;
        font-size: 13pt;
        padding: 0px 20px;
        max-width: 600px;
      }
    </style>
  </head>

  <body>
    <div id="details">
      <div id="title" style="text-align: center">
        <h2 id="title-text">Title</h2>
      </div>

      <div id="requirements">
        <h3>Requirements</h3>
      </div>

      <div id="summary">
        <h3>Summary</h3>
      </div>

      <div id="instructions">
        <h3>Instructions</h3>
      </div>

      <form
        id="open-study-link"
        action=""
        method="get"
        target="_blank"
        style="display: flex; flex-direction: COLUMN; align-items: center">
        <input id="open-study-worker-id" type="hidden" name="workerId" />
        <input id="open-study-asmt-id" type="hidden" name="assignmentId" />
        <input id="open-study-hit-id" type="hidden" name="hitId" />
      </form>
      <button
        form="open-study-link"
        type="submit"
        id="open-study-button"
        style="font-size: 14pt"
        disabled>
        Open study in new window
      </button>

      <div id="completion" style="font-size: 12pt; display: none">
        <form id="code-form">
          <fieldset id="code-form-fieldset" style="display: contents">
            <h4 style="margin-bottom: 5px">
              Before submitting, please provide your demographic information.
            </h4>
            <p>
              Demographic data must be reported for most grant-funded research
              (e.g., see
              <a
                href="https://grants.nih.gov/faqs#/inclusion-basic-on-sex-gender-and-race-ethnicity.htm"
                >NIH FAQs)</a
              >. It helps researchers and policy-makers ensure that scientific
              studies are informative and inclusive. Your responses are
              de-identified and cannot be linked back to you. If you prefer not
              to respond to any question, select "Prefer not to respond" or
              leave the response field blank.
            </p>
            <label for="completion-gender">Gender identity: </label>
            <select
              id="completion-gender"
              style="font-size: 12pt; margin-bottom: 20px; width: 40%"
              required>
              <option value="" disabled selected>Select one</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="TransMale">Trans Male</option>
              <option value="TransFemale">Trans Female</option>
              <option value="Genderqueer">Genderqueer or non-binary</option>
              <option value="Unknown">Prefer not to respond</option>
            </select>
            <br />
            <label for="completion-sex">Sex assigned at birth: </label>
            <select
              id="completion-sex"
              style="font-size: 12pt; margin-bottom: 20px; width: 40%"
              required>
              <option value="" disabled selected>Select one</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="TransMale">Intersex</option>
              <option value="Unknown">Prefer not to respond</option>
            </select>
            <br />
            <label for="completion-age">Age:</label>
            <input
              type="number"
              placeholder="Enter years"
              id="completion-age"
              style="font-size: 12pt; margin-bottom: 20px; width: 20%"
              min="18"
              max="90" />
            <br />
            <label for="completion-ethnicity">Ethnicity: </label>
            <select
              id="completion-ethnicity"
              style="font-size: 12pt; margin-bottom: 20px; width: 50%"
              required>
              <option value="" disabled selected>Select one</option>
              <option value="Hispanic or Latino">Hispanic or Latino</option>
              <option value="Not Hispanic or Latino">
                Not Hispanic or Latino
              </option>
              <option value="Unknown">Prefer not to respond</option>
            </select>
            <br />
            <span
              >Race (select all that apply, or none if you prefer not to
              respond):</span
            ><br />
            <div style="margin: 5px 0 20px 5px">
              <input
                type="checkbox"
                id="AIAN"
                value="American Indian or Alaska Native"
                class="raceCheckbox" />
              <label for="AIAN"> American Indian or Alaska Native</label><br />
              <input
                type="checkbox"
                id="Asian"
                value="Asian"
                class="raceCheckbox" />
              <label for="Asian"> Asian</label><br />
              <input
                type="checkbox"
                id="Black"
                value="Black or African American"
                class="raceCheckbox" />
              <label for="Black"> Black or African American</label><br />
              <input
                type="checkbox"
                id="NHPI"
                value="Native Hawaiian or Other Pacific Islander"
                class="raceCheckbox" />
              <label for="NHPI">
                Native Hawaiian or Other Pacific Islander</label
              ><br />
              <input
                type="checkbox"
                id="White"
                value="White"
                class="raceCheckbox" />
              <label for="White"> White</label><br />
            </div>

            <label for="completion-code"><b>Completion code: </b></label>
            <input
              type="text"
              value=""
              id="completion-code"
              style="font-size: 14pt; margin: 10px 0px 20px 10px; width: 80%"
              required />
          </fieldset>
        </form>
        <button
          form="code-form"
          type="submit"
          id="submit-button"
          style="font-size: 10pt; margin: 0 40px 0 20px">
          Submit
        </button>
      </div>
    </div>

    <div id="bad-code-proceed" style="display: none">
      <h3>Are you sure?</h3>
      <p>
        That code is not linked to your Worker ID in our database! Please
        double-check it and try again. <br /><br />
        If you are sure it is correct, click the button below to submit anyway.
        Note that it may take longer for your submission to be approved since
        the Requester needs to check your data.
      </p>
      <button id="bad-code-button" style="font-size: 10pt">Force Submit</button>
    </div>

    <div id="blocker" style="display: none">
      <h3>Sorry, please return this HIT.</h3>
      <p>
        It seems you've already submitted this HIT. Please contact the Requester
        if you believe this is an error.
      </p>
    </div>

    <div id="malfunction" style="display: none">
      <h3>Oops! Something is wrong with this HIT...</h3>
      <p>
        You might try refreshing the page. If the problem persists, please
        return this HIT. Contact the Requester if you would like more
        information.
      </p>
    </div>

    <script type="module">
      import { initializeApp } from 'https://www.gstatic.com/firebasejs/9.9.2/firebase-app.js';
      import {
        getDatabase,
        ref,
        get,
        set,
        onValue,
      } from 'https://www.gstatic.com/firebasejs/9.9.2/firebase-database.js';

      function main() {
        // Resources:
        // https://docs.aws.amazon.com/AWSMechTurk/latest/AWSMturkAPI/ApiReference_HTMLQuestionArticle.html
        // https://docs.aws.amazon.com/AWSMechTurk/latest/AWSMechanicalTurkRequester/mturk-hits-defining-questions-html-javascript.html
        // https://s3.amazonaws.com/mturk-public/externalHIT_v1.js

        const urlParams = new URLSearchParams(window.location.search);
        const previewing =
          urlParams.get('assignmentId') === 'ASSIGNMENT_ID_NOT_AVAILABLE';
        if (previewing) {
          return;
        }

        const mainDiv = document.getElementById('details');
        const codeFormDiv = document.getElementById('completion');
        const malfunctionDiv = document.getElementById('malfunction');
        const blockerDiv = document.getElementById('blocker');
        const codeForm = document.getElementById('code-form');
        const codeFormFieldset = document.getElementById('code-form-fieldset');
        const badCodeWarning = document.getElementById('bad-code-proceed');
        const badCodeButton = document.getElementById('bad-code-button');

        // ***************** Do not modify ****************
        const expName = 'test'; // Thu Mar 02 2023 14:22:00 GMT-0500 (Eastern Standard Time)
        const taskURL = 'https://cogsci-lab32.web.app'; // Thu Mar 02 2023 14:22:00 GMT-0500 (Eastern Standard Time)
        const databaseURL = 'https://cognitivescience.firebaseio.com'; // Thu Mar 02 2023 14:22:00 GMT-0500 (Eastern Standard Time)
        // ************************* END do not modify *************************

        // Initialize globals
        let gender, sex, age, ethnicity, race, code, db;
        let submitting = false;

        const workerId = urlParams.get('workerId');
        const asmtId = urlParams.get('assignmentId');
        const hitId = urlParams.get('hitId');
        if (!workerId) {
          mainDiv.style.display = 'none';
          malfunctionDiv.style.display = 'block';
          let x = malfunctionDiv.appendChild(document.createElement('p'));
          x.textContent =
            'Error: Could not retrieve workerId from URL parameters.';
          return;
        }

        // Initialize Firebase Realtime Database
        // Here we are simply reading and writing unrestricted database nodes
        // So we only need databaseURL from firebase-config.js (and we don't need auth)
        try {
          initializeApp({ databaseURL: databaseURL });
          db = getDatabase();
        } catch (err) {
          mainDiv.style.display = 'none';
          malfunctionDiv.style.display = 'block';
          let x = malfunctionDiv.appendChild(document.createElement('p'));
          x.textContent = 'Error: ' + err.message;
          return;
        }

        // Set up a workers branch listener
        onValue(
          ref(db, `/workers/${workerId}/${expName}`),
          function (dataSnapshot) {
            if (dataSnapshot.exists()) {
              // If they appear in workers/submitted, hide everything and warn them!
              if (dataSnapshot.val().submitted && !submitting) {
                mainDiv.style.display = 'none';
                blockerDiv.style.display = 'block';
              }
            } else {
              // If they do not appear in workers, enable the open study in new window button
              codeFormDiv.style.display = 'block';
              document.getElementById('open-study-button').disabled = false;
              document.getElementById('open-study-worker-id').value = workerId;
              document.getElementById('open-study-asmt-id').value = asmtId;
              document.getElementById('open-study-hit-id').value = hitId;
              document
                .getElementById('open-study-link')
                .setAttribute('action', `${taskURL}`);
            }
          }
        );

        // Set up submit button listeners
        codeForm.addEventListener('submit', confirmCode);
        badCodeButton.addEventListener('click', handleSubmit);

        ///// Helpers ////
        async function confirmCode(e) {
          e.preventDefault();

          // extract the form responses
          gender = document.getElementById('completion-gender').value;
          sex = document.getElementById('completion-sex').value;
          age = document.getElementById('completion-age').value;
          ethnicity = document.getElementById('completion-ethnicity').value;
          // For Race (multi-select checkbox response), create an array
          race = [];
          let raceCheckboxes = document.getElementsByClassName('raceCheckbox');
          for (let checkbox of raceCheckboxes) {
            if (checkbox.checked) {
              race.push(checkbox.value);
            }
          }
          code = document.getElementById('completion-code').value;
          try {
            await get(ref(db, `/workers/${workerId}/${expName}/${code}`)).then(
              function (dataSnapshot) {
                if (!dataSnapshot.exists()) {
                  console.log('Code not found...');
                  badCodeWarning.style.display = 'block';
                  badCodeWarning.scrollIntoView({
                    behavior: 'smooth',
                    block: 'end',
                    inline: 'nearest',
                  });
                } else {
                  console.log('Code found!');
                  codeFormFieldset.style.disabled = true;
                  badCodeWarning.style.display = 'none';
                  handleSubmit();
                }
              }
            );
          } catch (error) {
            // if this read fails for some reason, return so the worker can try again
            console.error(error.message);
            window.alert(
              'There was a problem submitting, please try again. Error: ' +
                error.message
            );
            return;
          }
        }

        // Handle the final submission
        async function handleSubmit() {
          submitting = true;
          const submittedNodeRef = `workers/${workerId}/${expName}/submitted`;
          try {
            await set(ref(db, submittedNodeRef), 'y');
          } catch (error) {
            // if this write fails for some reason, return so the worker can try again
            console.error(error.message);
            submitting = false;
            window.alert(
              'There was a problem submitting, please try again. Error: ' +
                error.message
            );
            return;
          }

          // create the form element and point it to the correct endpoint
          const form = document.createElement('form');
          form.action = new URL(
            'mturk/externalSubmit',
            urlParams.get('turkSubmitTo')
          ).href;
          form.method = 'post';

          // attach assignment ID
          const asmtId = document.createElement('input');
          asmtId.name = 'assignmentId';
          asmtId.value = urlParams.get('assignmentId');
          asmtId.hidden = true;
          form.appendChild(asmtId);

          // attach worker ID
          const wkrId = document.createElement('input');
          wkrId.name = 'workerId';
          wkrId.value = workerId;
          wkrId.hidden = true;
          form.appendChild(wkrId);

          // attach completion code
          const compCode = document.createElement('input');
          compCode.name = 'completionCode';
          compCode.value = code;
          compCode.hidden = true;
          form.appendChild(compCode);

          // attach gender
          const g = document.createElement('input');
          g.name = 'Gender';
          g.value = gender;
          g.hidden = true;
          form.appendChild(g);

          // attach birth sex
          const s = document.createElement('input');
          s.name = 'Sex';
          s.value = sex;
          s.hidden = true;
          form.appendChild(s);

          // attach age
          const a = document.createElement('input');
          a.name = 'Age';
          a.value = age;
          a.hidden = true;
          form.appendChild(a);

          // attach ethnicity
          const e = document.createElement('input');
          e.name = 'Ethnicity';
          e.value = ethnicity;
          e.hidden = true;
          form.appendChild(e);

          // attach race
          const r = document.createElement('input');
          r.name = 'Race';
          r.value = race;
          r.hidden = true;
          form.appendChild(r);

          // attach the form to the HTML document and trigger submission
          document.body.appendChild(form);
          form.submit();
        }
      }

      // Wait until page is fully loaded, then run
      document.addEventListener('DOMContentLoaded', main, false);
    </script>
  </body>
</html>
